examples/1-Upload-Node-Properties.json
[{"id":"a5bdf0a437a23b96","type":"tab","label":"1-Upload-Node-Properties","disabled":false,"info":"","env":[]},{"id":"e97a464313511441","type":"uploader","z":"a5bdf0a437a23b96","name":"Bitpool-uploader","events":true,"apiKey":"","pool_settings":"","stream_name":"Test-Stream","uploadCount":"20","uploadInterval":"60","uploadInterval_value":"1","uploadInterval_options":"Minutes","bpChkShowDateOnLabel":true,"bpChkShowDebugWarnings":true,"rebuildOnError":true,"x":680,"y":380,"wires":[[]]},{"id":"44a19fa52aad0d4b","type":"inject","z":"a5bdf0a437a23b96","name":"Inject Value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":410,"y":380,"wires":[["e97a464313511441"]]},{"id":"283a7fd391ada677","type":"comment","z":"a5bdf0a437a23b96","name":"Properties set in node","info":"This is one method of configuring the node. Via the static property when the node is double clicked.","x":420,"y":300,"wires":[]}]