examples/2-Upload-Msg-Properties.json
[{"id":"31e19afa10a37ae2","type":"tab","label":"2-Upload-Msg-Properties","disabled":false,"info":"","env":[]},{"id":"d507c8feddd2462b","type":"inject","z":"31e19afa10a37ae2","name":"Inject properties and value","props":[{"p":"payload"},{"p":"stream","v":"Test-stream","vt":"str"},{"p":"pool","v":"Test-pool","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":470,"y":540,"wires":[["b87360001c10c7f2"]]},{"id":"b87360001c10c7f2","type":"uploader","z":"31e19afa10a37ae2","name":"Bitpool-Uploader","events":true,"apiKey":"","pool_settings":"","stream_name":"","uploadCount":"20","uploadInterval":"60","uploadInterval_value":"1","uploadInterval_options":"Minutes","bpChkShowDateOnLabel":true,"bpChkShowDebugWarnings":true,"rebuildOnError":true,"x":770,"y":460,"wires":[[]]},{"id":"cb26997ace59e334","type":"comment","z":"31e19afa10a37ae2","name":"Properties set in Msg","info":"This is a dynamic method of configuring the node. Via the node-red msg object at any point on the flow prior to the bitpool-uploader node. You can use an inject, function, or any node that can set the msg object.","x":280,"y":300,"wires":[]},{"id":"04d65905d8138f0b","type":"comment","z":"31e19afa10a37ae2","name":"OR","info":"Please use one of the methods shown here. Above OR below.","x":530,"y":460,"wires":[]},{"id":"4e10735caf1bd520","type":"inject","z":"31e19afa10a37ae2","name":"Inject Value","props":[{"p":"payload"},{"p":"stream","v":"Test-stream","vt":"str"},{"p":"pool","v":"Test-pool","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":290,"y":380,"wires":[["af8403967194980b"]]},{"id":"af8403967194980b","type":"function","z":"31e19afa10a37ae2","name":"SetProperties","func":"msg.stream = \"Test-stream\";\nmsg.pool = \"Test-pool\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":380,"wires":[["b87360001c10c7f2"]]}]