examples/3-Upload-With-Tags.json
[{"id":"e3da9c219112e1f6","type":"tab","label":"3-Upload-With-Tags","disabled":false,"info":"","env":[]},{"id":"97c5efca2f915f01","type":"uploader","z":"e3da9c219112e1f6","name":"Bitpool-Uploader","events":true,"apiKey":"","pool_settings":"","stream_name":"Test-stream","uploadCount":"20","uploadInterval":"60","uploadInterval_value":"1","uploadInterval_options":"Minutes","bpChkShowDateOnLabel":true,"bpChkShowDebugWarnings":true,"rebuildOnError":true,"x":850,"y":440,"wires":[[]]},{"id":"e5cc32bebeec3973","type":"metatag","z":"e3da9c219112e1f6","name":"Bitpool-Tags","metatag":"","StreamTags":"bp:deviceManufacturer=TestManufacturer","PoolTags":"bp:customer=MrCustomer","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":440,"wires":[["97c5efca2f915f01"]]},{"id":"fafd5682eb562a9d","type":"inject","z":"e3da9c219112e1f6","name":"Inject value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":390,"y":440,"wires":[["e5cc32bebeec3973"]]},{"id":"4ba0c7a735cde3dc","type":"comment","z":"e3da9c219112e1f6","name":"Upload with tags","info":"This flow demonstrates how to include tags in your bitpool upload. ","x":380,"y":340,"wires":[]}]