examples/3-Upload-Name-Value-Meta-Commands.json
[
    {
        "id": "b1a5ef0bdd0af47b",
        "type": "debug",
        "z": "c4d6ad25761e2db6",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "16904cded652f885",
        "type": "inject",
        "z": "c4d6ad25761e2db6",
        "name": "Upload Stream Record",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stream name 1",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "229ac627d4af38af"
            ]
        ]
    },
    {
        "id": "4985eddfc26bd248",
        "type": "uploader",
        "z": "c4d6ad25761e2db6",
        "name": "Bitpool Uploader",
        "events": true,
        "apiKey": "",
        "pool_settings": "",
        "stream_name": "",
        "uploadCount": 100,
        "uploadCountV2": 4,
        "timeout": 10,
        "uploadInterval": "900",
        "uploadInterval_value": "15",
        "uploadInterval_options": "Minutes",
        "bpChkShowDateOnLabel": true,
        "bpChkShowDebugWarnings": true,
        "rebuildOnError": true,
        "PoolTags": "",
        "x": 1050,
        "y": 540,
        "wires": [
            [
                "b1a5ef0bdd0af47b"
            ]
        ]
    },
    {
        "id": "229ac627d4af38af",
        "type": "metatag",
        "z": "c4d6ad25761e2db6",
        "name": "Meta Data",
        "metatag": "",
        "StreamTags": "",
        "tagRegisters": [
            {
                "filter": "",
                "tagList": ""
            }
        ],
        "streamTagList": [
            {
                "optValue": "deviceManufacturer",
                "type": "String"
            },
            {
                "optValue": "deviceType",
                "type": "String"
            },
            {
                "optValue": "deviceLocation",
                "type": "String"
            },
            {
                "optValue": "systemType",
                "type": "String"
            },
            {
                "optValue": "protocol",
                "type": "String"
            }
        ],
        "taglib": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 540,
        "wires": [
            [
                "4985eddfc26bd248"
            ]
        ]
    },
    {
        "id": "2c68a5ffaba3095a",
        "type": "inject",
        "z": "c4d6ad25761e2db6",
        "name": "SHOW_CONFIG",
        "props": [
            {
                "p": "BPCommand",
                "v": "SHOW_CONFIG",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 740,
        "y": 600,
        "wires": [
            [
                "4985eddfc26bd248"
            ]
        ]
    },
    {
        "id": "bc17238751914457",
        "type": "inject",
        "z": "c4d6ad25761e2db6",
        "name": "SHOW_POOL",
        "props": [
            {
                "p": "BPCommand",
                "v": "SHOW_POOL",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 730,
        "y": 640,
        "wires": [
            [
                "4985eddfc26bd248"
            ]
        ]
    },
    {
        "id": "892dba4d5aed4ade",
        "type": "inject",
        "z": "c4d6ad25761e2db6",
        "name": "CREATE_POOL",
        "props": [
            {
                "p": "BPCommand",
                "v": "CREATE_POOL",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 740,
        "y": 680,
        "wires": [
            [
                "4985eddfc26bd248"
            ]
        ]
    },
    {
        "id": "593d53e433fe61e0",
        "type": "inject",
        "z": "c4d6ad25761e2db6",
        "name": "PURGE_DATA",
        "props": [
            {
                "p": "BPCommand",
                "v": "PURGE_DATA",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 740,
        "y": 720,
        "wires": [
            [
                "4985eddfc26bd248"
            ]
        ]
    },
    {
        "id": "e9292c4efca773ee",
        "type": "inject",
        "z": "c4d6ad25761e2db6",
        "name": "UPLOAD_DATA",
        "props": [
            {
                "p": "BPCommand",
                "v": "UPLOAD_DATA",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 740,
        "y": 760,
        "wires": [
            [
                "4985eddfc26bd248"
            ]
        ]
    }
]