examples/4-Upload-REBUILD-Command.json
[{"id":"01b88322b1040040","type":"tab","label":"4-Upload-REBUILD-Command","disabled":false,"info":"","env":[]},{"id":"071aa2ebc028c5d9","type":"inject","z":"01b88322b1040040","name":"Inject value and properties","props":[{"p":"payload"},{"p":"stream","v":"Test-stream","vt":"str"},{"p":"pool","v":"Test-pool","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":430,"y":340,"wires":[["5ce5f87643c5f0eb"]]},{"id":"5ce5f87643c5f0eb","type":"uploader","z":"01b88322b1040040","name":"Bitpool-Uploader","events":true,"apiKey":"","pool_settings":"","stream_name":"","uploadCount":"20","uploadInterval":"60","uploadInterval_value":"1","uploadInterval_options":"Minutes","bpChkShowDateOnLabel":true,"bpChkShowDebugWarnings":true,"rebuildOnError":true,"x":730,"y":340,"wires":[[]]},{"id":"38ee558fa8f259e1","type":"inject","z":"01b88322b1040040","name":"Rebuild Command","props":[{"p":"BPCommand","v":"REBUILD","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":410,"y":420,"wires":[["5ce5f87643c5f0eb"]]},{"id":"7b9b980396c7e940","type":"comment","z":"01b88322b1040040","name":"Rebuild Command","info":"The bitpool-uploader automatically starts creating a internal data structure while uploading to the bitpool cloud. Depending on many factors, usually when a stream or pool gets deleted on the cloud, the uploader can get confused. Sending this rebuild command forces a fresh start. This is done automatically in the background every 15 mins. ","x":390,"y":260,"wires":[]}]